::-webkit-scrollbar { 
    display: none; 
}

/*.page-content{
	position: fixed;
	left: 0;
	right: 0;
	top: 85px;
}*/

#my_name{
	font-family: 'Bree Serif', cursive;
}

#navbar-collapsed-dropdown a:visited{
	color: #ffffff;
	text-decoration: none;
}
#navbar-collapsed-dropdown .active>a:visited, #navbar-collapsed-dropdown .open>a:visited{
	color: rgba(79,39,176,1);
}

#bannerLogo{
	height: 50px;
    /*border: 2px solid#ffffff;
    border-radius: 26px;
    padding: 5px;*/
}

.emoji{
	font-family: 'Rock Salt', cursive;
    font-weight: bold;
    padding: 0 5px;
}

.text-justify{
	text-align: justify;
}

#me1{
	width: 100%;
}

#intro-container{
	height: 3000px;
}

#intro h1, #intro h2{
	text-align: center;
}

#intro h2{
	color: #000000;
}

.language-flag{
	height: 15px;
}

/* ------------------ DATAGRIDS DEFAULT - Start ----------------*/

.datagrid{
	background-color: rgba(0,0,0,0.80);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}



@media (min-width: 768px) {
	.datagrid .datagrid_element{
		border-right: 1px solid #ffffff;
	}

	.datagrid .datagrid_element:last-of-type{
		border-right: none;
	}

	.datagrid .datagrid_element.noborder{
		border-right: none !important;
	}
}


/* ------------------ DATAGRIDS DEFAULT -  End  ----------------*/

/* ----------------------- BIO - Start ------------------------ */

#bio-container{
	background-color: #000000;
	background-image: url("../img/caracas_mobile.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

@media (min-width: 768px) {
	#bio-container{
		background-image: url("../img/caracas.jpg");
	}
}

#bio-container #bio{
	padding-top: 85px;
	padding-bottom: 85px;
}

/* ----------------------- BIO -  End  ------------------------ */

/* -------------------- EDUCATION - Start --------------------- */

#education-container{
	background-color: #4dff4d;
	background-image: url("../img/USB_mobile.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

@media (min-width: 768px) {
	#education-container{
		background-image: url("../img/USB.jpg");
	}
}

#education-container #education{
	padding-top: 85px;
	padding-bottom: 85px;
}

/* -------------------- EDUCATION -  End  --------------------- */

/* ------------------- EXPERIENCE - Start --------------------- */

#experience-container{
	background-color: #ffffff;
	background-image: url("../img/office_mobile.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

@media (min-width: 768px) {
	#experience-container{
		background-image: url("../img/office.jpg");
	}
}

#experience-container #experience{
	padding-top: 85px;
	padding-bottom: 85px;
	color: #000000;
}

#experience-container #experience .datagrid{
	background-color: rgba(255,255,255,0.80);
}	

@media (min-width: 768px) {
	#experience-container #experience .datagrid{
		border: 1px solid #000000;
	}

	#experience-container #experience .datagrid .datagrid_element{
		border-right: 1px solid #000000;
	}	
}


/* ------------------- EXPERIENCE - End --------------------- */

/* -------------------- EDUCATION - Start --------------------- */

#hobbies-container{
	background-color: #00ccff;
	background-image: url("../img/margarita_mobile.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
}

@media (min-width: 768px) {
	#hobbies-container{
		background-image: url("../img/margarita.jpg");
	}
}

#hobbies-container #hobbies{
	padding-top: 85px;
	padding-bottom: 85px;
	color: #000000;
}

#hobbies-container #hobbies .datagrid{
	color: #ffffff;
}

/* -------------------- EDUCATION -  End  --------------------- */

.my_spacer{
	height: 25px;
}